html {
    overflow: hidden !important;
}

.field {
    width: 70%;
    max-width: 768px;
    text-align: center;
    margin: 20px auto;
}

.icon {
    position: absolute !important;
    left: 7px !important;
    top: 5px !important;
    font-size: 10px;
    color: #637792 !important;
}

.add-patient-field:focus {
    outline: none;
    box-shadow: inset 0px 0px 4px 0px rgb(99, 119, 146);
}

.login-button {
    background-color: #F29DA4;
    border-radius: 15px;
    font-weight: 600;
}

#logo-column {
    background-color: #EEF0F3;
    padding-top: 200px;
    height: 105vh
}

#logo-container {
    height: 108px;
    width: 370px;
    margin: auto;
    position: relative;
}

#logo {
    width: 328px;
    position: absolute;
}

#logo-subheader {
    font-weight: 600;
    position: absolute;
    color: #637792;
    top: 65px;
    left: 105px;
    font-size: 30px;
}